<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetWebApi.Core" version="4.0.20126.16343" />
  <package id="AspNetWebApi.SelfHost" version="4.0.20126.16343" />
  <package id="IPAddressRange" version="4.1.2" targetFramework="net45" />
  <package id="Prism.Core" version="7.2.0.1422" targetFramework="net45" />
  <package id="System.Json" version="4.0.20126.16343" />
  <package id="System.Net.Http" version="2.0.20126.16343" />
  <package id="System.Net.Http.Formatting" version="4.0.20126.16343" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
  <package id="System.Web.Http.Common" version="4.0.20126.16343" />
</packages>